.wavin-signature {
    width: 100%;
}

.footer-container {
    margin-top: 18px;
}

.compliance-container {
    margin-top: 18px;
}

/* Text Resets */
p, a, i, div, td, h1 {
    font-family: 'Lato', sans-serif;
}

p, h1 {
    margin: 0;
}

.logo-person-container {
    margin-bottom: 12px;
}

/* Text Styles */
.person-name {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
}

.person-title {
    font-size: 1rem;
    font-weight: 600;
    color: #76b72a;
}

.person-company {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(87, 87, 87);
}

.contact-text {
    font-size: 0.97rem;
    color: rgb(87, 87, 87);
    margin-bottom: 4px;
}

.contact-text .contact-hint {
    font-weight: 600;
    margin-right: 4px;
    color: rgb(58, 58, 58);
}

.contact-text a {
    color: #76b72a;
    font-weight: 700;
}

.contact-text .contact-spacer {
    font-weight: 500;
    color: inherit;
    margin: 0 9px;
}

.branding-tag {
    font-size: 0.94rem;
    color: rgb(58, 58, 58);
    margin-bottom: 6px;
}

.branding-spacedtext {
    margin-bottom: 12px;
}

.footer-text {
    font-size: 0.92rem;
}

.footer-text-sm {
    font-size: 0.90rem;
    color: rgb(58, 58, 58);
    margin: 6px 0;
}

.compliance-text {
    font-size: 0.8rem;
    color: rgb(58, 58, 58);
    margin: 0 0 2px 0;
}

.wave-emoji {
    font-size: 1.4rem;
    margin-right: 6px;
}

/* Logo */
.logo-word {
    width: 115px;
    position: relative;
    left: 0;
}

@media screen and (min-width: 480px) {
    .logo-word {
        width: 160px;
    }
}

/* Artwork */
.logo-divider {
    width: 2px;
    height: 100%;
    background-color: #76b72a;
    margin: 0 10px;
    border-radius: 2px;
}
.footer-divider {
    width: 2px;
    height: 32px;
    background-color: #76b72a;
    margin: 0 10px;
    border-radius: 2px;
}
.hr-spacer {
    /* background: #76b72a; */
    /* background: linear-gradient(90deg, #76b72a 0%, white 100%); */
    width: 200px;
    height: 60px;
    margin: 14px 0;
    border-radius: 60% 0 0 0;
    border-left: 3px solid #76b72a;
    border-top: 3px solid #76b72a;
    position: relative;
    left: -10px;
    display: none;
}

/* Util */
.height-100 {
    height: 100% !important;
}